{% extends "::base.html.twig" %}

{% block body %}
<div class="container">

    <div id="header">
        <div id="logo">
            <h1><a href="{{path("homepage")}}">{{settings.siteName}}</a></h1>
            <p>{{settings.siteLogoDescription}}</p>
        </div>
        <div class="phones"><span>тел.:</span> {{settings.contacts['phones']}}</div>
        <ul class="menu" id="top_menu">
            <li>
                <a href="{{path('homepage')}}">Главная</a>
            </li>
            <li>
                <a href="{{path('homepage')}}">Контакты</a>
            </li>
            <li>
                <a href="{{path('homepage')}}">Доставка</a>
            </li>
        </ul>
        {% render 'JekaShopBundle:Shop:cartGlobalBlock'%}
    </div>
    <div id="content" >

    <div id="categories">
        {% render 'JekaShopBundle:Shop:categoriesNav'%}
    </div>

    {% block content %}
        No content.
    {% endblock %}

    </div>


    <footer>
    <!-- Footer -->
    <div id="footer" class="box">
        <p class="copy">&copy; 2012 Albomchick.Ru</p>
        <div class="info">
            <a class="developed" href="http://github.com/vespolina/vespolina-sandbox">Создание и поддердка сайта &mdash; HotSupport.Ru</a>
            <div class="jeka-shop">
                Сайт основан на OpenSource проекте <a href="http://github.com/vespolina/jekashop-sandbox">JekaShop</a>
            </div>
        </div>
    </div> <!-- /footer -->
    </footer>
</div>
{% endblock %}

