<html>
<head>
    <style type="text/css">
        td, th{
            border: 1px solid #444;
            padding: 8px 15px;
            margin: none;
        }
        .customer th{
            text-align: right;
        }

    </style>
</head>
<body>
<h1>Номер заказа: #{{cart.number}}</h1>
<p>Сумма заказа: {{cart.total}} руб.</p>
<h2>Информация о покупателе:</h2>
<table class="customer">
    {% for k,v in data%}
    <tr>
        <th>{{k}}</th>
        <td>{{v}}</td>
    </tr>
    {% endfor%}
</table>
Доставка: {{cart.deliveryType}} - {{cart.deliveryCost}} руб

<h2>Список товаров:</h2>

<table class="cart-list table">
    <thead>
    <th class="num">#</th>
    <th class="image">
        {#{{'Image'|trans}}#}
        &nbsp;
    </th>
    <th class="name">{{'Product'|trans}}</th>
    <th class="item_price">{{'Item price'|trans}}</th>
    <th class="quantity">{{'Quantity'|trans}}</th>
    <th class="item_total_price">{{'Tot. price'|trans}}</th>
    <th class="x"></th>
    </thead>
    <tbody>
    {% for item in cart.items%}
    {% set product = item.product%}
    {% set prod_url = url('shop_product',{'category_slug':product.categorySlug,'product_slug':product.slug}) %}
    <tr class="product_{{product.id}}">
        <td>
            {{loop.index}}.
        </td>
        <td class="image">
            <a href="{{prod_url}}">
                <img src="{{url('homepage')}}{{product.previewImage.src|apply_filter('prod_preview_micro')}}"/>
            </a>
        </td>
        <td>
            <a href="{{prod_url}}">{{product.name}}</a>
        </td>
        <td class="item_price">
            {{product.price}}
        </td>
        <td class="quantity">
            {{item.quantity}}
        </td>
        <td class="item_total_price">
            {{product.price*item.quantity|format}}
        </td>
    </tr>
    {% endfor%}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="total_word">Итого:</td>
        <td class="total_amount">
            {{cart.total}} <span class="curr">руб.</span>
            {%if (cart.deliveryCost>0)%}
                <br/> Доставкой:
                {{cart.total+cart.deliveryCost}} <span class="curr">руб.</span>
            {%endif%}
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>