{% extends "JekaShopBundle::layout.html.twig"%}


{% block title %}
    {{product.name}}
{% endblock%}

{% block content %}


<div class="jk-product">
    {#{% include 'JekaShopBundle:Shop:_category_breadcrumb.html.twig' with {'category':category}%}#}


    <div class="row">
        <div class="images span7">
            {% if product.previewImage%}
            <div class="preview">
                    <a href="{{product.previewImage.width>600?product.previewImage.src|apply_filter('prod_preview_big'):product.previewImage.src}}" rel="{{product.images|length>1?"":'prettyPhoto'}}"
                            {{product.images|length>1?'onclick="$(\'.images ul.list-images li:first a\').click();return false;"':''}}>
                        <img src="{{product.previewImage.src|apply_filter('prod_preview')}}" width="350" height="350"/>
                    </a>
            </div>
            {% endif%}
            {% if product.images|length > 1 %}
            <ul class="list-images">
                {% for image in product.images%}
                <li>
                    <a href="{{image.width>600?image.src|apply_filter('prod_preview_big'):image.src}}" rel="prettyPhoto[prod_{{product.id}}]"><img src="{{image.src|apply_filter('prod_preview_small')}}"/></a>
                </li>
                {% endfor%}
            </ul>
            {% endif%}
            <div class="h">Видео</div>
            <ul class="videos">
                <li></li>
            </ul>
        </div>
        <div class="description span9">
            <h1>{{product.name}}</h1>
            {{product.description}}
            
            <p>Российская биатлонистка Ольга Зайцева в пятницу, 6 января, завоевала бронзу в спринтерской гонке на четвертом этапе розыгрыша Кубка мира по биатлону, который проходит в немецком Оберхофе. Об этом сообщает ИТАР-ТАСС.</p>

            <p>Зайцева прошла дистанцию 7,5 километра за 23 минуты 11 секунд, не заработав ни одного штрафного круга. Таким образом, спортсменка получила пятую подряд награду в личных состязаниях за этот сезон.</p>

            <p>Золото завоевала немка Магдалена Нойнер. Она прошла дистанцию за 22 минуты 27,6 секунды, также не промахнувшись ни на одном огневом рубеже.</p>
            <p>Несмотря на один штрафной круг, второй к финишу пришла Дарья Домрачева из Белоруссии. Ее результат - 23 минуты 4,9 секунды.</p>

            <table class="features">
                <tr>
                    <th>Листов</th>
                    <td>240</td>
                </tr>
                <tr>
                    <th>Фотографий</th>
                    <td>480</td>
                </tr>

            </table>

            <div class="buy-product">
                <h2>Купить: <span>{{product.name}}</span></h2>
                <form action="{{path('shop_to_cart')}}" class="jk-to-cart-form" method="post" id="to-cart-form_{{product.id}}">
                    <input type="hidden" name="product_id" value="{{product.id}}" >
                    <div class="quantity">
                        <span>Количество:</span>
                        <a href="#" title="-1" class="minus">-</a>
                        <input type="text" value="1" name="quantity" class="quantity" size="2" id="quantity">
                        <a href="#" title="+1" class="plus">+</a>
                    </div>

                    <input type="submit" value="В корзину" class="to-cart btn success" >
                    <div class="action-info"></div>
                    <div class="action-info-js"></div>
                    <div class="cart-info">
                        Сейчас в <a href="{{path('shop_cart')}}">вашей корзине</a>
                        <span class="jk-cart-items">3</span> товара на сумму <span class="jk-cart-amount">3042</span> руб.
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock content %}

{%block styles%}
<link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
{%endblock%}
{% block javascripts%}
{{parent()}}
<script src="/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        Jeka.Shop.bindToCartForm();
        Jeka.Shop.initLightBox();

    });
</script>
{% endblock javascripts%}

