{% extends "JekaShopBundle::layout.html.twig"%}


{% block title %}
    {{product.name}}
{% endblock%}

{% block content %}


<div class="jk-product">
    {#{% include 'JekaShopBundle:Shop:_category_breadcrumb.html.twig' with {'category':category}%}#}


    <div class="row">
        <div class="images span5">
            {% if product.previewImage%}
            <div class="preview">
                    <a href="{{product.previewImage.width>600?product.previewImage.src|apply_filter('prod_preview_big'):product.previewImage.src}}" rel="{{product.images|length>1?"":'prettyPhoto'}}"
                            {{product.images|length>1?'onclick="$(\'.images ul.list-images li:first a\').click();return false;"':''}}>
                        <img src="{{product.previewImage.src|apply_filter('prod_preview')}}" width="350" height="350"/>
                    </a>
            </div>
            {% endif%}
            {% if product.images|length > 1 %}
            <ul class="list-images">
                {% for image in product.imagesOrderedArray%}
                <li>
                    <a href="{{image.width>600?image.src|apply_filter('prod_preview_big'):image.src}}" rel="prettyPhoto[prod_{{product.id}}]"><img src="{{image.src|apply_filter('prod_preview_small')}}"/></a>
                </li>
                {% endfor%}
            </ul>
            {% endif%}
            <div class="h">Видео</div>
            <ul class="videos">
                <li></li>
            </ul>
        </div>
        <div class="description span7">
            <h1>{{product.name}}</h1>
            <div>s3: {{product.s3Id}}</div>
            {{product.description}}
            
            {% if product.features|length>0%}
            <h3>Параметры товара:</h3>
            <table class="features table table-condensed" >
                <tbody>
                {% for f in product.features%}
                <tr>
                    <th>{{f.searchTerm}}</th>
                    <td>{{f.name}}</td>
                </tr>
                {% endfor%}
                </tbody>
            </table>
            {% endif%}

            </table>

            <div class="buy-product">
                <h2>Купить: <span>{{product.name}}</span></h2>
                {% if product.options|length>0%}
                        {% include 'JekaShopBundle:Shop:_product_options.html.twig' %}
                {% endif%}
                <h3  class="price">Цена: <span class="value">{{product.price}}</span> <span class="curr">руб.</span></h3>
                <form action="{{path('shop_to_cart')}}" class="jk-to-cart-form" method="post" id="to-cart-form_{{product.id}}">
                    <input type="hidden" name="product_id" value="{{product.id}}" >
                    <div class="quantity">
                        <span>Количество:</span>
                        <a href="#" title="-1" class="minus quantity_change">-</a>
                        {% set pq = cart.findProductQuantity(product)%}
                        <input type="text" value="{{pq?pq:1}}" name="quantity" class="quantity" size="2" id="quantity">
                        <a href="#" title="+1" class="plus quantity_change">+</a>
                    </div>

                    <button type="submit" class="to-cart btn btn-success"><i class="icon-shopping-cart icon-white"></i> В корзину</button>

                    <div class="action-info"></div>
                    <div class="action-info-js"></div>
                    <div class="cart-info">
                        {% if cart.totalQuantity>0%}
                            {% include 'JekaShopBundle:Shop:_cart_info.html.twig' with {'cart':cart}%}
                        {% endif%}
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock content %}

{%block styles%}
<link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
{%endblock%}
{% block javascripts%}
{{parent()}}
<script src="/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        Jeka.Shop.bindToCartForm();
        Jeka.Shop.initLightBox();

    });
</script>
{% endblock javascripts%}

